* {
  max-width: 100%;

}

.separator {
  min-height: 100vh;
  height: auto;
  width: 100vw;
  max-width: 100%;
  display: flex;
  justify-content: center;
  background-color: #282c34;

  &.services {
    justify-content: center;
    align-items: center;
  }

  .headerHolder {
    animation: headerIntoBig .3s;
    display: flex;
    flex: .25 1;
    max-width: 100%;
    text-align: left;
    min-height: 6em;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: black;
    border: solid 2px;
    border-radius: 30px;
    padding: 1em;
    width: 100%;

    .header {
      font-size: 4.25em;
      font-family: halyard-display, sans-serif;
      font-weight: 200;
      margin: 0;
      border-radius: 20px;
      padding: 0 1em;
      text-align: center;
      line-height: 1em;
      position: relative;

      @media screen and (max-width: 800px) {
        font-size: 2.25em !important;
      }

      &.stickyHeaderHolder {
        opacity: 0;
      }
    }

    transition: opacity .5s;
    @media screen and (max-width: 800px) {
      min-height: 3em;
      border-radius: 15px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      padding: 0;
    }
  }

  .stickyHeaderHolder {
    opacity: 0;
    transition: opacity .2s;

    &.visible {
      display: flex;
      opacity: 1;
    }

    flex: .25 1;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: black;
    border: solid 2px;
    border-radius: 30px;
    padding: 1em;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 2em;

    .header {
      font-size: 2em;
      font-family: halyard-display, sans-serif;
      font-weight: 200;
      margin: 0;
      border-radius: 20px;
      padding: 0 1em;
      text-align: center;
      line-height: 1em;
      position: relative;

      @media screen and (max-width: 800px) {
        font-size: 2.25em !important;
      }
    }
  }


  .mainBody {
    display: flex;
    flex: 5;

    .youtubeHolder {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      height: 100%;
      @media screen and (max-width: 800px) {
        margin: 2em 0;
      }

      iframe {
        width: 100%;
        max-width: 100%;
        height: 30vh;
        border-radius: 20px;
        box-shadow: -2px 6px 7px rgba(0, 0, 0, 0.5);
        border: solid 2px white;
      }
    }
  }

  &.services {

    .mainBody {
      flex-direction: column;
      width: 90%;

      .holder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .section1 {
          display: flex;
          flex-direction: row;
          width: 100%;
          max-width: 100%;

          .slice:first-child {
            border-right: solid 1px white;
          }
        }

        .slice {
          width: 100%;
          max-width: 100%;
          list-style-type: none;
          text-align: left;
          list-style-image: none;
          display: flex;
          flex-direction: row;
          flex: 1;
          align-items: center;
          justify-content: center;
          box-sizing: border-box;
          border-bottom: solid 1px white;
          min-height: 25em;
          padding: 1em 0;
          @media screen and (max-width: 800px) {
            flex-direction: column;
          }

          &:last-child {
            border-bottom: 0;
          }

          .level {
            list-style-image: none;
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
            height: 100%;
            box-shadow: -6px 3px 6px rgba(0, 0, 0, 0.25);

            border-top-left-radius: 80px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 80px;
            @media screen and (max-width: 800px) {
              width: 100%;
              max-width: 100%;
              margin: 1em 0;
              display: flex;
              align-items: center;
              border-radius: 30px;
              flex: unset;
              height: 5em;
            }

            &.level1 {
              background: linear-gradient(90deg, rgba(64, 185, 126, 0.8), rgba(115, 208, 241, 0.5), transparent);
            }

            &.level2 {
              background: linear-gradient(90deg, rgba(221, 146, 190, 0.8), rgba(184, 208, 231, 0.65), transparent);
            }

            &.level3 {
              background: linear-gradient(90deg, rgba(179, 217, 160, 0.8), rgba(242, 121, 160, 0.65), transparent);
            }

            &.level4 {
              background: linear-gradient(90deg, rgba(41, 171, 226, 0.8), rgba(247, 147, 30, 0.5), rgba(247, 147, 30, 0.25), rgba(41, 171, 226, 0,));
            }


            .levelText {
              color: #f4f2f2;
              font-family: halyard-display, sans-serif;
              font-weight: 200;
              font-size: 5em;
              text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
              @media screen and (max-width: 800px) {
                font-size: 3em;
                line-height: 1em;
                text-shadow: 0 2px 3px rgba(0, 0, 0, .75);
              }
            }

            img {
              height: 4.5em;
              display: flex;
              margin-left: .5em;
            }
          }


          ul {
            margin-block-start: 0 !important;
            margin-block-end: 0 !important;
            padding-inline-start: 0 !important;
            display: flex;
            justify-content: center;
            flex-direction: column;
            flex: 1;
            padding-left: 5em;
            list-style-image: none;
            margin: 0 2em;

            &.specialUL {
              flex-direction: row;
              @media screen and (max-width: 800px) {
                flex-direction: column;
              }

              ul {
                justify-content: flex-start;;
                min-width: 15em;
              }

              li {
                margin: 0;
              }
            }

            li {
              list-style-image: none;
              list-style-type: disc;
              margin: .5em 0;
              font-size: 1.75em;
              color: #f4f2f2;


              &.includes {
                color: #6dbac6;
                font-family: halyard-display, sans-serif;
                font-weight: 300;
                font-size: 2em;

                .includesHolder {
                  display: inline-flex;
                  font-weight: 400;

                  span.imgHolder {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: 1.6em;
                    height: 1em;
                    @media screen and (max-width: 800px) {
                      width: 2em;
                      height: 1em;
                    }

                    img {
                      display: inline-flex;
                      margin-left: 1.2em;
                      height: 1.6em;
                    }
                  }
                }
              }
            }
          }
        }
      }

    }
  }

  &#splash {
    height: 100vh;
    background-attachment: fixed;
    @media screen and (max-width: 800px) {
      background-attachment: scroll;
    }
    background-color: white;
    background-image: url('../../images/darkMercedesdash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
      max-width: 80vw;
      @media screen and (min-width: 2000px) {
        width: 50%;
      }
    }

    #slogan {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 3.5em; //this works for large boi monitors
      color: #f4f2f2;
      font-family: hero-new, sans-serif;
      font-weight: 200;
      font-style: normal;

      @media screen and (max-width: 800px) {
        font-size: 2em;
      }
    }


  }

  &#exteriorServicesSection {
    background-image: url('../../images/extBG3.jpg');


    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 800px) {
      background-attachment: scroll;
      background-position: 0;
      background-image: url('../../images/mobileExtBG.jpg');
    }

    .headerHolder, .stickyHeaderHolder {
      border-color: #d35635;

      .header {
        color: #d35635;
      }
    }


  }

  &#interiorServicesSection {
    background-image: url('../../images/interiorBG1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;

    .headerHolder, .stickyHeaderHolder {
      border-color: #6dbac6;

      .header {
        color: #6dbac6;
      }
    }


    .mainBody {
      flex-direction: column;
      width: 90%;

      .slice {
        display: flex;
        flex-direction: column;
        padding: 2.5em 0 5em 0;

        .special {
          color: #6dbac6;
          justify-content: flex-start;
          align-items: flex-start;
          font-size: 2em;
          margin: 1em 0;

        }

        .headerSubtitle {
          font-size: 1.5em;
          color: #f4f2f2;
          font-family: Hero-new, sans-serif;
          font-weight: 200;
          background: rgba(0, 0, 0, 0.65);
          border-radius: 15px;
          padding: 0 1em;
          margin: .5em 0;
          border: solid 1px #f4f2f2;
          justify-content: center;
          align-items: center;
          text-align: center;
          min-height: 1.5em;

          .subtitleEmphasis {
            font-weight: bold;
          }
        }

        #tier1ULHolder {
          display: flex;
          flex-direction: row;
          @media screen and (max-width: 800px) {
            flex-direction: column;
            max-width: 100%;
          }

          ul {
            display: flex;
            flex: 1;
            justify-content: flex-start;
            min-width: 23em;
            @media screen and (max-width: 800px) {
              min-width: 20em;
            }
          }
        }

        .youtubeHolder {
          height: 20em;
          width: 30em;
          margin-top: 2em;
          @media screen and (max-width: 800px) {
            display: flex;
            flex: 1;
            box-sizing: border-box;
            width: auto;
            margin: 2em 0;
            iframe {
              max-width: 90% !important;;
              height: auto !important;
              width: auto !important;;
              margin: 1em 0 !important;;
              padding-right: 0 !important;;
            }
          }
        }

        .level {
          flex-direction: row;
          min-width: 75%;
          justify-content: center;
          padding-right: 3em;
          @media screen and (max-width: 800px) {
            max-width: 5em;
          }


          .levelTextAndIconHolder {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 5em;
            @media screen and (max-width: 800px) {
              justify-content: center;
            }
          }
        }


        &.level1 {
          box-shadow: 6px 3px 6px rgba(0, 0, 0, 0.25);
          background: linear-gradient(-90deg,
                  rgba(64, 185, 126, 0.8),
                  rgba(64, 185, 126, 0.6),
                  rgba(115, 208, 241, 0.4),
                  rgba(115, 208, 241, 0.2),
                  transparent);
        }

        &.level2 {
          box-shadow: 6px 3px 6px rgba(0, 0, 0, 0.25);

          background: linear-gradient(-90deg,
                  rgba(221, 146, 190, 0.8),
                  rgba(221, 146, 190, 0.65),
                  rgba(184, 208, 231, 0.5),
                  rgba(184, 208, 231, 0.25),
                  transparent);
        }
      }
    }
  }

  &#aboutSection {
    min-height: 100vh;
    height: 100vh;
    background-color: #f4f2f2;
    display: flex;
    flex-direction: column;
    border-top: solid 2px white;

    .headerHolder {
      border: 0;
      background-color: transparent;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      padding-top: 3em;
      flex: unset;

      .header {
        font-family: lust-script-display, sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #f2f2f2;
        font-size: 6em;
        text-shadow: 3px 3px 3px black;
      }
    }

    #aboutBody {
      display: flex;
      flex-direction: column;
      background: linear-gradient(195deg, #48555f, #292929);
      flex: 1;

      #aboutContent {
        display: flex;
        flex-direction: row;

        #aboutText {
          display: flex;
          flex: 2;
          padding: 1em;
          font-size: 2em;
          color: white;
          align-items: center;
          justify-content: center;

          p {
            margin-block-start: 0;
            margin-block-end: 0;
          }
        }

        #aboutPic {
          display: flex;
          flex: 1;
          align-items: flex-start;
          justify-content: center;

          img {
            border-radius: 50%;
            height: 50vh;
            width: 50vh;
            box-shadow: 3px 3px 15px black;
          }
        }
      }
    }


  }

  &#contactSection {
    min-height: 100vh;
    height: auto;
    background-color: #f4f2f2;
    display: flex;
    flex-direction: row;
    border-top: solid 2px white;
    @media screen and (max-width: 800px) {
      height: auto;
      min-height: unset;

    }
    @media screen and (min-width: 2000px) {
      min-height: unset;
      height: auto;
    }

    .mainBody {
      display: flex;
      flex-direction: row;
      height: auto;
      min-height: 100vh;
      flex: unset;
      width: 100%;

      @media screen and (max-width: 800px) {
        min-height: 200vh;
        flex-direction: column;
      }
      @media screen and (max-width: 1800px) {
        min-height: 100vh;
      }
      @media screen and (min-width: 2000px) {
        min-height: unset;
      }

      .headerHolder {
        border: 0;
        background-color: transparent;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding-top: 3em;

        .header {
          font-family: lust-script-display, sans-serif;
          font-weight: 400;
          font-style: normal;
          color: #f2f2f2;
          font-size: 6em;
          text-shadow: 3px 3px 3px black;

          &.second {
            margin-left: .75em;
          }
        }
      }

      .sideSection {
        display: flex;
        flex-direction: column;
        width: 50%;
        flex: unset;
        @media screen and (max-width: 800px) {
          flex: 0 1;
          height: 100vh;
          width: 100%;
        }

        &#contactSectionLeft {
          background: url("../../images/contactLeftBG.jpg");
          background-attachment: fixed;
          background-repeat: no-repeat;
          background-position: left;
          background-size: contain;
          @media screen and (max-width: 800px) {
            background-size: cover;
            flex: 0;
          }

          .rightSideText {
            display: flex;
            flex: .5;
            justify-content: center;
            align-items: center;
            color: #f4f2f2;
            font-size: 1.5em;
            padding: 1em 0;
            background: transparent;
            transition: border-color .25s, background-color .25s;

            ul {
              .comboSpecial {
                cursor: pointer;
                user-select: none;
                text-align: left;
                margin-bottom: 1em;
                border: solid 2px transparent;
                list-style-type: circle;

                .comboText {
                  font-weight: 400;
                  padding-left: .2em;
                  transition: color .25s;
                }

                .comboPrice {
                  color: #60cbcb;
                  font-weight: 400;
                  margin-left: 1em;
                }

                &.selected {
                  color: #355e35;

                  .comboText {
                    color: #59a159;
                  }

                  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.45);
                  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.47);
                  border: solid 2px #59a159;
                  background: rgba(0, 0, 0, 0.27);
                  border-radius: 5px;
                  list-style-type: disc;
                }
              }
            }
          }
        }

        &#contactSectionRight {
          background-image: url('../../images/contactBG.jpg');
          background-size: cover;
          align-items: center;
          justify-content: flex-start;
          background-attachment: fixed;
          flex-direction: column;
          @media screen and (max-width: 800px) {
            background-size: cover;
            display: flex;
            flex: none;
            height: auto;
            padding-bottom: 5em;
          }

          .headerHolder {
            border: 0;
            background-color: transparent;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            padding-top: .5em;
            @media screen and (max-width: 800px) {
              padding-top: 0;
              margin-bottom: .5em;
            }

            .header {
              font-size: 4em;
              color: white;
              text-shadow: 2px 3px 3px #a1a1a1;
              margin: .25em;
            }
          }

          #actualForm {
            height: 40em;
            display: flex;
            //background: #f4f2f2;
            border: solid 1px white;
            width: 60%;
            flex-direction: column;
            border-radius: 5px;
            padding: 3em 2em;
            box-sizing: border-box;
            @media screen and (max-width: 800px) {
              width: 80%;
              height: auto;
            }

            @media screen and (min-width: 2000px) {
              height: 60em;
              margin: 3em 0;
            }

            .contactFormInput {
              border-radius: 5px;
              border: 0;
              outline: 0;
              background-color: white;
              height: 1.25em;
              font-size: 1.5em;
              text-align: left;
              color: #3a3a3a;
              font-family: halyard-display, sans-serif;
              padding: .1em;
              padding-left: 1em;
              box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.2);
            }

            .formSection {
              display: flex;
              flex: 1;
              justify-content: center;
              align-items: center;
              flex-direction: column;

              input {
                font-size: 1.3em;
                height: 1.6em;
                display: flex;
                flex: 1;
                background: transparent;
                border: solid 1px white;
                color: #afafaf;
              }

              &.top {
                .necessaryFieldHolder {
                  display: flex;
                  flex: 1;
                  width: 80%;
                  justify-content: center;
                  align-items: center;

                  .necessaryFieldIndicator {
                    height: .5em;
                    width: .5em;
                    border: solid 2px;
                    border-color: orange;
                    border-radius: 50%;
                    display: flex;
                    background-color: transparent;
                    transition: border-color .25s, background-color .25s;

                    &.valid {
                      border-color: green;
                      background-color: green;
                    }

                    &.invalid {
                      border-color: red;
                      background-color: red;
                    }
                  }
                }

                #selectedServices {
                  font-size: 1.35em;
                  padding: .1em;
                  padding-left: 1em;
                  align-items: center;
                  border: solid 1px white;
                  width: 80%;
                  color: #afafaf;
                  margin: 1em 0;

                  #selectedServicesHeader {
                    color: #afafaf;
                    font-size: 1.1em;
                    font-weight: 200;
                  }
                }


                #makeModelHolder {
                  input {
                    flex: 1;
                    margin: .75em;
                  }
                }

                #disclaimer {
                  color: #afafaf;

                }
              }

              &.bottom {
                flex-direction: column;

                .contactBotSection {
                  display: flex;
                  flex: 1;
                  justify-content: center;
                  align-items: center;
                  height: 100%;

                  &.radiosHolder {
                    display: flex;
                    flex: .25;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: flex-start;
                    padding: 0 1.1em;
                  }

                  &.sendHolder {
                    flex: .5;

                    button {
                      width: 4.5em;
                      height: 2em;
                      border-radius: 16px;
                      background: #6dbac6;;
                      border: solid 2px white;
                      box-shadow: 2px 3px 3px #00000061;
                      font-family: lust-script-display, sans-serif;
                      font-size: 1.5em;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      color: white;
                      font-weight: bold;
                      letter-spacing: 1px;
                      cursor: pointer;
                      user-select: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &#blogAndBTT {
    height: 10vh;
    min-height: unset;
    align-items: center;
    justify-content: center;
    background-color: #6dbac6;

    .mainBody {
      flex-direction: row;
      width: 90%;
      align-items: center;
      justify-content: center;

      .bottomButton {
        flex: 1;
        align-items: center;
        justify-content: center;
        font-size: 3em;
        font-family: lust-script-display, sans-serif;
        color: white;
        cursor: pointer;
        border-radius: 15px;
        text-shadow: 2px 3px 3px rgba(0, 0, 0, 0);
        transition: background-color .3s, text-shadow .3s;

        &:hover {
          text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
          background-color: rgba(255, 255, 255, 0.2);
        }

        img {
          max-height: 10em;
        }
      }
    }
  }
}


@keyframes headerIntoSmall {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .75;
  }
}

@keyframes headerIntoBig {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .1;
  }

}