
#transparentBG {
  background: rgba(0, 0, 0, .75);
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  cursor: pointer;
  z-index: 555;
  display: flex;
  justify-content: center;
  align-items: center;

  &.fadeOut {
    animation: fadeOut 1s;
  }

  #emailNotification {
    height: 15em;
    width: 35em;
    z-index: 999;
    cursor: default;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .5);
    border: double 4px white;
    display: flex;
    flex-direction: column;

    background-color: #485261;
    border-radius: 15px;

    #notificationHeader {
      display: flex;
      height: 2.5em;
      justify-content: center;
      align-items: center;
      font-size: 1.8em;
      color: white;
      font-weight: 400;
      border-bottom: double 3px white;
    }

    #notificationMessageHolder {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex: 1;

      .notificationMessage {
        font-size: 1.5em;
        color: white;
        font-weight: 300;

        &.error:nth-child(1) {
          margin-bottom: .5em;
        }
      }
    }

    #dismissInstructions {
      color: white;
      font-weight: 400;
      text-decoration: underline;
      cursor: pointer;
      transition: background-color .3s ease-in-out;
      padding: .5em;
      &:hover{
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }
}

@keyframes fadeOut {
  from {
    opacity: 1
  }
  to {
    opacity: 0
  }

}