$lightBlue: #6dbac6;
$lightText: #f4f2f2;


* {
  max-width: 100%;
  margin-block-start: 0;
  margin-block-end: 0;
}

.separator {
  min-height: 100vh;
  height: auto;
  width: 100vw;
  max-width: 100%;
  display: flex;
  justify-content: center;
  background-color: #282c34;

  &.services {
    justify-content: center;
    align-items: center;
  }

  .headerHolder {
    animation: headerIntoBig .3s;
    display: flex;
    flex: .25 1;
    max-width: 100%;
    text-align: left;
    min-height: 6em;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: black;
    border: solid 2px;
    border-radius: 30px;
    padding: 1em;
    width: 100%;
    @media screen and (max-width: 800px) {
      margin-bottom: .5em;
    }

    .header {
      font-size: 4.25em;
      font-family: halyard-display, sans-serif;
      font-weight: 200;
      margin: 0;
      border-radius: 20px;
      padding: 0 1em;
      text-align: center;
      line-height: 1em;
      position: relative;

      @media screen and (max-width: 800px) {
        font-size: 3em !important;
      }

      &.stickyHeaderHolder {
        opacity: 0;
      }
    }

    transition: opacity .5s;
    @media screen and (max-width: 800px) {
      min-height: 3em;
      border-radius: 15px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      padding: 0;
    }
  }

  .stickyHeaderHolder {
    opacity: 0;
    transition: opacity .2s;
    pointer-events: none;

    &.visible {
      display: flex;
      opacity: 1;
      pointer-events: all;
    }

    flex: .25 1;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: black;
    border: solid 2px;
    border-radius: 30px;
    padding: 1em;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 2em;

    .header {
      font-size: 2em;
      font-family: halyard-display, sans-serif;
      font-weight: 200;
      margin: 0;
      border-radius: 20px;
      padding: 0 1em;
      text-align: center;
      line-height: 1em;
      position: relative;

      @media screen and (max-width: 800px) {
        font-size: 2.25em !important;
      }
    }
  }


  .mainBody {
    display: flex;
    flex: 5;

    .youtubeHolder {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      height: 100%;
      @media screen and (max-width: 800px) {
        margin: 2em 0;
      }

      iframe {
        width: 100%;
        max-width: 100%;
        height: 30vh;
        border-radius: 20px;
        box-shadow: -2px 6px 7px rgba(0, 0, 0, 0.5);
        border: solid 2px $lightText;
      }
    }
  }

  &.services {

    .mainBody {
      flex-direction: column;
      width: 90%;

      .holder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .section1 {
          display: flex;
          flex-direction: row;
          width: 100%;
          max-width: 100%;

          .slice:first-child {
            border-right: solid 1px $lightText;
          }
        }

        .slice {
          width: 100%;
          max-width: 100%;
          list-style-type: none;
          text-align: left;
          list-style-image: none;
          display: flex;
          flex-direction: row;
          flex: 1;
          align-items: center;
          justify-content: center;
          box-sizing: border-box;
          border-bottom: solid 1px $lightText;
          min-height: 25em;
          padding: 1em 0;
          @media screen and (max-width: 800px) {
            flex-direction: column;
          }

          &:last-child {
            border-bottom: 0;
          }

          .level {
            list-style-image: none;
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
            height: 100%;
            box-shadow: -6px 3px 6px rgba(0, 0, 0, 0.25);

            border-top-left-radius: 80px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 80px;
            @media screen and (max-width: 800px) {
              width: 100%;
              max-width: 100%;
              margin: 1em 0;
              display: flex;
              align-items: center;
              border-radius: 30px;
              flex: unset;
              height: 5em;
            }

            &.level1 {
              background: linear-gradient(90deg, rgba(64, 185, 126, 0.8), rgba(115, 208, 241, 0.5), transparent);
            }

            &.level2 {
              background: linear-gradient(90deg, rgba(221, 146, 190, 0.8), rgba(184, 208, 231, 0.65), transparent);
            }

            &.level3 {
              background: linear-gradient(90deg, rgba(179, 217, 160, 0.8), rgba(242, 121, 160, 0.65), transparent);
            }

            &.level4 {
              background: linear-gradient(90deg, rgba(41, 171, 226, 0.8), rgba(247, 147, 30, 0.5), rgba(247, 147, 30, 0.25), rgba(41, 171, 226, 0,));
            }


            .levelText {
              color: $lightText;
              font-family: halyard-display, sans-serif;
              font-weight: 200;
              font-size: 3.5em;
              text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
              @media screen and (max-width: 800px) {
                font-size: 3em;
                line-height: 1em;
                text-shadow: 0 2px 3px rgba(0, 0, 0, .75);
              }
            }

            img {
              height: 4.5em;
              display: flex;
              margin-left: .5em;
            }
          }


          ul {
            margin-block-start: 0 !important;
            margin-block-end: 0 !important;
            padding-inline-start: 0 !important;
            display: flex;
            justify-content: center;
            flex-direction: column;
            flex: 1;
            padding-left: 5em;
            list-style-image: none;
            margin: 0 2em;

            &.specialUL {
              flex-direction: row;
              @media screen and (max-width: 800px) {
                flex-direction: column;
              }

              ul {
                justify-content: flex-start;;
                min-width: 15em;
              }

              li {
                margin: 0;
              }
            }

            li {
              list-style-image: none;
              list-style-type: disc;
              margin: .5em 0;
              font-size: 1.75em;
              color: $lightText;


              &.includes {
                color: $lightBlue;
                font-family: halyard-display, sans-serif;
                font-weight: 300;
                font-size: 2em;

                .includesHolder {
                  display: inline-flex;

                  .includeText {
                    font-weight: 400;
                  }

                  span.imgHolder {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: 1.6em;
                    height: 1em;
                    @media screen and (max-width: 800px) {
                      width: 2em;
                      height: 1em;
                    }

                    img {
                      display: inline-flex;
                      margin-left: 1.2em;
                      height: 1.6em;
                    }
                  }
                }
              }
            }
          }
        }
      }

    }
  }

  &#splash {
    height: 100vh;
    background-attachment: fixed;
    @media screen and (max-width: 800px) {
      background-attachment: scroll;
    }
    background-color: $lightText;
    background-image: url('../../assets/images/darkMercedesdash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
      max-width: 75vw;
      max-height: 75vh;
      @media screen and (min-width: 2000px) {
        width: 50%;
      }
    }

    #slogan {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 3.5em; //this works for large boi monitors
      color: $lightText;
      font-family: hero-new, sans-serif;
      font-weight: 200;
      font-style: normal;

      @media screen and (max-width: 800px) {
        font-size: 2em;
      }
    }


  }

  &#exteriorServicesSection {
    background-image: url('../../assets/images/extBG3.jpg');


    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 800px) {
      background-attachment: scroll;
      background-position: 0;
      background-image: url('../../assets/images/mobileExtBG.jpg');
    }

    .headerHolder, .stickyHeaderHolder {
      min-height: 4em;
      border-color: #d35635;

      .header {
        font-size: 2em;
        color: #d35635;
      }
    }


  }

  &#interiorServicesSection {
    background-image: url('../../assets/images/interiorBG1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;

    .headerHolder, .stickyHeaderHolder {
      border-color: $lightBlue;
      min-height: 4em;

      .header {
        color: $lightBlue;
        font-size: 2.5em;
      }
    }


    .mainBody {
      flex-direction: column;
      width: 90%;

      .slice {
        display: flex;
        flex-direction: column;
        padding: 2.5em 0 5em 0;

        .special {
          color: $lightBlue;
          justify-content: flex-start;
          align-items: flex-start;
          font-size: 2em;
          margin: 1em 0;

        }

        .headerSubtitle {
          font-size: 1.5em;
          color: $lightText;
          font-family: Hero-new, sans-serif;
          font-weight: 200;
          background: rgba(0, 0, 0, 0.65);
          border-radius: 15px;
          padding: 0 1em;
          margin: .5em 0;
          border: solid 1px $lightText;
          justify-content: center;
          align-items: center;
          text-align: center;
          min-height: 1.5em;

          .subtitleEmphasis {
            font-weight: bold;
          }
        }

        #tier1ULHolder {
          display: flex;
          flex-direction: row;
          @media screen and (max-width: 800px) {
            flex-direction: column;
            max-width: 100%;
          }

          ul {
            display: flex;
            flex: 1;
            justify-content: flex-start;
            min-width: 23em;
            @media screen and (max-width: 800px) {
              min-width: 20em;
            }
          }
        }

        &.interiorTier2 {
          ul {
            li {
              list-style-type: none;
              text-align: center;

              .includesHolder {
                margin-top: 1em;

                img {
                  margin-left: .25em;
                }
              }
            }
          }
        }

        .youtubeHolder {
          height: 20em;
          width: 30em;
          margin-top: 2em;
          @media screen and (max-width: 800px) {
            display: flex;
            flex: 1;
            box-sizing: border-box;
            width: auto;
            margin: 2em 0;
            iframe {
              max-width: 90% !important;;
              height: auto !important;
              width: auto !important;;
              margin: 1em 0 !important;;
              padding-right: 0 !important;;
            }
          }
        }

        .level {
          flex-direction: row;
          min-width: 75%;
          justify-content: center;
          padding-right: 3em;
          @media screen and (max-width: 800px) {
            max-width: 5em;
          }


          .levelTextAndIconHolder {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 5em;
            @media screen and (max-width: 800px) {
              justify-content: center;
            }
          }
        }


        &.level1 {
          box-shadow: 6px 3px 6px rgba(0, 0, 0, 0.25);
          background: linear-gradient(-90deg,
                  rgba(64, 185, 126, 0.8),
                  rgba(64, 185, 126, 0.6),
                  rgba(115, 208, 241, 0.4),
                  rgba(115, 208, 241, 0.2),
                  transparent);
        }

        &.level2 {
          box-shadow: 6px 3px 6px rgba(0, 0, 0, 0.25);

          background: linear-gradient(-90deg,
                  rgba(221, 146, 190, 0.8),
                  rgba(221, 146, 190, 0.65),
                  rgba(184, 208, 231, 0.5),
                  rgba(184, 208, 231, 0.25),
                  transparent);
        }
      }
    }
  }

  &#aboutSection {
    min-height: unset;
    background-color: $lightText;
    display: flex;
    flex-direction: column;
    border-top: solid 2px $lightText;

    .headerHolder {
      border: 0;
      background-color: transparent;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      padding-top: 1.5em;
      flex: unset;

      .header {
        font-family: lust-script-display, sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #f2f2f2;
        font-size: 6em;
        text-shadow: 3px 3px 3px black;
      }
    }

    #aboutBody {
      display: flex;
      flex-direction: column;
      background: linear-gradient(195deg, #48555f, #292929);
      flex: 1;

      #aboutContent {
        display: flex;
        flex-direction: column;

        #aboutTextAndImg {
          display: flex;
          flex: 1;
          font-size: 2em;
          color: $lightText;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          @media screen and (max-width: 1300px) {
            flex-direction: column;
            font-size: 1.5em;
          }

          p {
            display: flex;
            flex: 1.75;
            padding: 0 1em;
          }

          #aboutPic {
            display: flex;
            flex: 1;
            align-items: flex-start;
            justify-content: center;

            img {
              border-radius: 50%;
              height: 13em;
              width: 13em;
              box-shadow: 3px 3px 15px black;
              @media screen and (max-width: 800px) {
                height: 8em;
                width: 8em;
                margin: 1em 0;
              }
            }
          }
        }

        #boldAboutText {
          padding: 1em;

          p {
            font-size: 2em;
            color: #bbb;
            font-weight: 400;
          }
        }
      }
    }


  }

  &#contactSection {
    min-height: 100vh;
    height: auto;
    background-color: $lightText;
    display: flex;
    flex-direction: row;
    border-top: solid 2px $lightText;
    @media screen and (max-width: 1300px) {
      height: auto;
      min-height: unset;
    }
    @media screen and (min-width: 2000px) {
      min-height: unset;
      height: auto;
    }

    .mainBody {
      display: flex;
      flex-direction: row;
      height: auto;
      min-height: 100vh;
      flex: unset;
      width: 100%;

      @media screen and (max-width: 1300px) {
        min-height: 200vh;
        width: 100%;
        flex-direction: column;
      }
      @media screen and (max-width: 1800px) {
        min-height: 100vh;
      }
      @media screen and (min-width: 2000px) {
        min-height: unset;
      }

      .headerHolder {
        border: 0;
        background-color: transparent;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding-top: 2em;

        .header {
          font-family: lust-script-display, sans-serif;
          font-weight: 400;
          font-style: normal;
          color: #f2f2f2;
          font-size: 6em;
          text-shadow: 3px 3px 3px black;

          &.second {
            margin-left: .75em;
          }
        }
      }

      .sideSection {
        display: flex;
        flex-direction: column;
        width: 50%;
        flex: unset;
        @media screen and (max-width: 1300px) {
          flex: 0 1;
          height: 100vh;
          width: 100%;
        }

        &#contactSectionLeft {
          background: url("../../assets/images/contactLeftBG.jpg");
          background-attachment: fixed;
          background-repeat: no-repeat;
          background-position: left;
          background-size: contain;
          flex: 1;
          @media screen and (max-width: 1300px) {
            background-size: cover;
            flex: 0;
          }

          .headerHolder {
            flex: unset;
          }

          .offersList {
            display: flex;
            flex: .5;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: $lightText;
            font-size: 1.5em;
            padding: 1em 0;
            background: transparent;
            transition: border-color .25s, background-color .25s;

            #offersInstruction {
              margin-bottom: 2em;
            }

            ul {
              .comboSpecial {
                cursor: pointer;
                user-select: none;
                text-align: left;
                margin-bottom: 1em;
                border: solid 2px transparent;
                list-style-type: circle;

                .comboText {
                  font-weight: 400;
                  padding-left: .2em;
                  transition: color .25s;
                }

                .comboPrice {
                  color: #cba460;
                  font-weight: 300;
                  margin-left: 1em;
                  text-decoration: line-through;
                }

                .discountedPrice {
                  color: #60cb65;
                  font-weight: 400;
                  margin-left: 1em;
                }

                &.selected {
                  color: #355e35;

                  .comboText {
                    color: #59a159;
                  }

                  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.45);
                  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.47);
                  border: solid 2px #59a159;
                  background: rgba(0, 0, 0, 0.27);
                  border-radius: 5px;
                  list-style-type: disc;
                }
              }
            }
          }
        }

        &#contactSectionRight {
          background-image: url('../../assets/images/contactBG.jpg');
          background-size: cover;
          align-items: center;
          justify-content: flex-start;
          background-attachment: fixed;
          flex-direction: column;
          flex: 1.75;
          @media screen and (max-width: 1300px) {
            background-size: cover;
            display: flex;
            flex: none;
            height: auto;
            padding: 1em 0 4em 0;
          }

          .headerHolder {
            border: 0;
            background-color: transparent;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            padding-top: .5em;
            margin-bottom: 1.5em;
            box-sizing: border-box;;
            @media screen and (max-width: 800px) {
              padding-top: 0;
              margin-bottom: 1.5em;
            }

            .header {
              font-size: 4em;
              color: $lightText;
              text-shadow: 2px 3px 3px #a1a1a1;
              margin: .25em;
            }
          }

          #actualForm {
            height: auto;
            display: flex;
            //background: $lightText;
            border: solid 1px $lightText;
            width: 80%;
            flex-direction: column;
            border-radius: 5px;
            padding: 3em 2em;
            box-sizing: border-box;
            @media screen and (max-width: 800px) {
              width: 80%;
              height: auto;
            }

            @media screen and (min-width: 2000px) {
              min-height: 60em;
              margin: 3em 0;
            }


            .contactFormInput {
              border-radius: 5px;
              border: 0;
              outline: 0;
              background-color: $lightText;
              height: 1.25em;
              font-size: 1.5em;
              text-align: left;
              color: #3a3a3a;
              font-family: halyard-display, sans-serif;
              padding: .1em;
              padding-left: 1em;
              box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.2);
            }

            .formSection {
              display: flex;
              flex: 1;
              justify-content: center;
              align-items: center;
              flex-direction: column;

              input {
                font-size: 1.3em;
                height: 1.6em;
                display: flex;
                flex: 1;
                background: transparent;
                border: solid 1px $lightText;
                color: #afafaf;

                @media screen and (max-width: 900px) {
                  //font-size: 1.7em;
                }
              }

              &.top {
                #formInputs {
                  display: flex;
                  flex-direction: row;
                  width: 100%;
                  @media screen and (max-width: 1400px) {
                    flex-direction: column;
                  }

                  #nameAndNumber {
                    display: flex;
                    flex: 1;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: space-evenly;
                    @media screen and (max-width: 1400px) {
                      align-items: center;
                      justify-content: center;
                      border-bottom: solid 1px #cdcdcd;
                      padding-bottom: 2em;
                    }


                    .necessaryFieldHolder {
                      display: flex;
                      flex: 1;
                      width: 80%;
                      justify-content: center;
                      align-items: center;
                      @media screen and (max-width: 1400px) {
                        &:nth-child(1){
                          margin-bottom: 1em;
                        }
                      }
                      .necessaryInput {
                        border: solid 2px;
                        border-color: orange;
                        transition: border-color .25s, background-color .25s, font-weight .25s, color .25s;
                        &.valid {
                          border-color: #4ad04a;
                          background-color: rgba(135, 238, 135, 0.43);
                          font-weight: 400;
                          color: $lightText;
                        }

                      }

                    }
                  }

                  #makeModelHolder {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    margin-top: 1em;

                    input {
                      flex: 1;
                      margin: .75em;
                      @media screen and (max-width: 900px) {
                        &:nth-child(1) {
                          margin-top: .5em;
                        }
                        margin: .5em;
                      }
                    }
                  }
                }

                #selectedServices {
                  font-size: 1.35em;
                  padding: .1em 1em;
                  align-items: center;
                  border: solid 1px $lightText;
                  width: 80%;
                  height: auto;
                  color: #afafaf;
                  margin: 1em 0;

                  #selectedServicesHeader {
                    color: #afafaf;
                    font-size: 1.1em;
                    font-weight: 400;
                    border-bottom: solid 1px rgba(255, 255, 255, 0.55);
                    padding: .5em 0;
                  }
                }

                #addOns {
                  font-size: 1.35em;
                  padding: .1em 1em;
                  align-items: center;
                  border: solid 1px $lightText;
                  width: 80%;
                  height: auto;
                  color: #afafaf;
                  margin: 1em 0;

                  #addOnsHeader {
                    color: #afafaf;
                    font-size: 1.1em;
                    font-weight: 400;
                    border-bottom: solid 1px rgba(255, 255, 255, 0.5);
                    padding: .5em 0;
                  }

                  #addOnsHolder {
                    padding: 1em 0;

                    .addOnItem {
                      display: inline-flex;
                      justify-content: center;
                      font-size: .9em;
                      align-items: center;
                      width: 35%;
                      min-height: 4em;
                      border: solid 2px #46dc46;
                      border-radius: 10px;
                      vertical-align: top;
                      box-sizing: border-box;
                      padding: .5em;
                      margin: 1em;
                      font-weight: 400;
                      cursor: pointer;
                      transition: background-color .25s;
                      user-select: none;

                      &.selected {
                        background-color: rgba(89, 161, 89, 0.47);
                      }

                      @media screen and (max-width: 800px) {
                        font-size: .75em;
                        width: 80%;
                        min-height: 2em;
                      }
                    }
                  }
                }

                #messageArea {
                  #expandMessageAreaButton {
                    color: $lightText;
                    font-size: 1.1em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 400;
                    cursor: pointer;
                    background-color: rgba(255, 255, 255, 0.2);
                    padding: .25em;
                    border-radius: 5px;
                    margin-bottom: 1em;
                    transition: background-color .25s;

                    #openStateIndicator {
                      font-size: 1.5em;
                      width: 1.5em;
                      height: 1.5em;
                      border-radius: 50%;
                      margin-left: .5em;
                      font-weight: 400;
                      background-color: rgba(255, 255, 255, 0.2);
                      box-sizing: border-box;
                      user-select: none;
                      transition: background-color .25s, transform .2s ease-in-out;

                      &.open {
                        transform: rotate(-90deg);
                        padding-top: 1px;
                      }
                    }

                    &:hover {
                      background-color: #5e895e;

                      #openStateIndicator {
                        background-color: #88ad88;
                      }
                    }
                  }

                  #textAreaHolder {
                    height: 0px;
                    transition: height .25s;

                    textarea {
                      font-size: 1.25em;
                      height: 7em;
                      width: 20em;
                      opacity: 0;
                      user-select: none;
                      pointer-events: none;
                      font-weight: 400;
                    }

                    &.expanded {
                      height: 10em;

                      textarea {
                        opacity: 1;
                        user-select: all;
                        pointer-events: all;
                      }
                    }
                  }
                }

                #disclaimer {
                  color: #afafaf;

                }
              }

              &.bottom {
                flex-direction: column;

                .contactBotSection {
                  display: flex;
                  flex: 1;
                  justify-content: center;
                  align-items: center;
                  height: 100%;

                  &.radiosHolder {
                    display: flex;
                    flex: .25;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: flex-start;
                    padding: 0 1.1em;
                  }

                  &.sendHolder {
                    flex: .5;

                    button {
                      width: 6.5em;
                      height: 2.5em;
                      border-radius: 16px;
                      background: #629ea8;;
                      border: solid 2px $lightText;
                      box-shadow: 2px 3px 3px #00000061;
                      font-family: lust-script-display, sans-serif;
                      font-size: 1.5em;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      color: $lightText;
                      font-weight: bold;
                      letter-spacing: 1px;
                      cursor: pointer;
                      user-select: none;
                      transition: background-color .25s;

                      &:hover {
                        background: $lightBlue;
                      }

                      &:active {
                        background: #3d818d;
                      }

                      @media screen and (max-width: 1000px) {
                        width: 5.5em;
                      }
                    }
                  }
                }
              }
            }

            #captchaHolder {
              display: flex;
              justify-content: center;
              margin-bottom: 1em;
            }
          }
        }
      }
    }
  }

  &#blogAndBTT {
    min-height: unset;
    align-items: center;
    justify-content: center;
    background-color: $lightBlue;

    .mainBody {
      flex-direction: row;
      width: 90%;
      align-items: center;
      justify-content: center;
      height: 100%;

      .bottomButton {
        display: flex;
        flex: 1;
        height: 100%;
        align-items: center;
        justify-content: center;
        font-size: 2.5em;
        font-family: lust-script-display, sans-serif;
        color: $lightText;
        cursor: pointer;
        text-shadow: 2px 3px 3px rgba(0, 0, 0, 0);
        transition: background-color .3s, text-shadow .3s;

        &:nth-child(1) {
          border-right: solid 1px $lightText;
        }

        @media screen and (max-width: 900px) {
          font-size: 2em;
        }

        &:hover {
          text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
          background-color: rgba(255, 255, 255, 0.2);
        }

        img {
          max-height: 10em;
        }
      }
    }
  }
}


@keyframes headerIntoSmall {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .75;
  }
}

@keyframes headerIntoBig {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .1;
  }

}